@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* { box-sizing: border-box; }

:root {
  --app-bg: #101827;
  --sidebar: rgba(21, 30, 47,1);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  display: flex !important;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 2000px;
  margin: 0 auto;
  
}

.sidebar {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 0;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
}


.app-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f3f6fd;
  margin: 10px 30px;
  align-items: center;
}

.brand-name{
  text-align: center;
  color: #f3f6fd;

}

.app-content {
  padding: 16px;
  background-color: var(--app-bg);
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  

}

.sidebar-list {
  list-style: none;
  padding-left: 0px;
}



.app-icon {
  border-bottom: 1px solid #2080d4;
}

.sidebar-list-item {
  margin: 4px 30%;

}

.sidebar-list-item button {
  text-decoration: none;
  color: #fff;

}

.sidebar-list-item button:hover {
  background-color: unset !important;

}

.action-button {
  border-radius: 4px;
  height: 32px;
  background-color: var(--app-content-secondary-color);
  border: 1px solid var(--app-content-secondary-color);
  display: flex;
  align-items: center;
  color: var(--app-content-main-color);
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
  
}


.products-area-wrapper {
  width: 90%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
  margin: 20px auto;

}

.tableView {
  .products-header {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: var(--app-content-secondary-color);
    position: sticky;
    top: 0;
  }
  
  .products-row {
    display: flex;
    align-items: center;
    border-radius: 4px;
    
    &:hover {
      box-shadow: var(--filter-shadow);
      background-color: var(--app-content-secondary-color);
    }
    
    .cell-more-button {
      display: none;
    }
  }
  
  .product-cell {
    flex: 1;
    padding: 8px 16px;
    color: var(--app-content-main-color);
    font-size: 14px;
    display: flex;
    align-items: center;
        
    
    @media screen and (max-width: 780px) {&{
      font-size: 12px;
      &.image span { display: none; }
      &.image { flex: 0.2; }
    }}
      
    @media screen and (max-width: 520px) {&{      
      &.category, &.sales {
        display: none;
      }
      &.status-cell { flex: 0.4; }
      &.stock, &.price { flex: 0.2; }
    }}
    
    @media screen and (max-width: 480px) {&{
      &.stock { display: none; }
      &.price { flex: 0.4; }
    }}
  }
  
  .cell-label {
    display: none;
  }
}

.status {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 12px;
  
  &:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 4px;
  }
  
  &.active {
    color: #2ba972;
    background-color: rgba(43, 169, 114, 0.2);
    
    &:before {
      background-color: #2ba972;
    }
  }
  
  &.disabled {
    color: #59719d;
    background-color: rgba(89, 113, 157, 0.2);
    
    &:before {
      background-color: #59719d;
    }
  }
}

.gridView {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  
  @media screen and (max-width: 520px) {&{
    margin: 0;
  }}
  
  .products-header {
    display: none;
  }
  
  .products-row {
    margin: 8px;
    width: calc(25% - 16px);
    background-color: var(--app-content-secondary-color);
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform .2s;
    position: relative;
    
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--filter-shadow);
      
      .cell-more-button {
        display: flex;
      }
    }
    
    @media screen and (max-width: 1024px) {&{
      width: calc(33.3% - 16px);
    }}
    
    @media screen and (max-width: 820px) {&{
      width: calc(50% - 16px);
    }}
    
    @media screen and (max-width: 520px) {&{
      width: 100%;
      margin: 8px 0;
      
      &:hover {
        transform: none;
      }
    }}
    
    .cell-more-button {
      border: none;
      padding: 0;
      border-radius: 4px;
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width:24px;
      height: 24px;
      background-color: rgba(16, 24, 39, 0.7);
      color: #fff;
      cursor: pointer;
      display: none;
    }
  }
  
  .product-cell {
    color: var(--app-content-main-color);
    font-size: 14px;
    margin-bottom: 8px;
    
    &:not(.image) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  .cell-label { opacity: 0.6; }
}


/* Custom css */

.m_78da155d {
  border: 1px solid #228be6;
  margin: 25px auto;
  margin-bottom: 55px;
  border-radius: 4px;
  height: 400px;
  box-shadow: 6px 0px 22px -3px rgb(34, 139, 230, 1);
  padding-top: unset !important;
  width: 50%;
  position: relative !important;
}

.m_78da155d legend {
  position: absolute;
  top: -15px;
  color: white;
  left: 10px;
  background: #101827;
}

.m_78da155d form {
  margin: 0px 150px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.m_46b77525 {
  margin-bottom: 8px !important;
}

.m_89d33d6d {
  display: unset !important;
  flex-wrap: unset !important;
  justify-content: unset !important;
  gap: unset !important;
  --tab-grow: unset !important;
  justify-content: unset !important;
}

.m_539e827b {
  border-width: 100% !important;

}

.m_cbb4ea7e  {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.m_4e7aa4ef, .m_4e7aa4f3 {
  text-align: center !important;
}

.m_b23fa0ef {
  margin-bottom: 30px;
}

.dataLoading {
  top: 43%;
  position: absolute;
}

.statisctics {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px auto;
  
}
.m_1b7284a3 {
  width: 150px;
  height: 150px;
  box-shadow: 6px 0px 22px -3px rgb(10, 82, 146) !important;

}


.statisctics .title {
  text-align: center;
  font-size: 21px;
  margin-bottom: 20px;
}

.statisctics .number {
  font-size: 18px;
  text-align: center;
  
}

.loader {
  margin: 25% 50%;
}